{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="flex flex-column min-h-screen">
    <div class="w-full m-auto max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">Danger alert!</span> {{ messages[0][0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form class="space-y-6" method="post">
            {{form.csrf_token}}
            <h5 class="text-xl font-medium text-gray-900">Sign in to our platform</h5>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your Username</label>
                {{form.username(type="text", placeholder="John Doe", class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" )}}    
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
                {{form.password(type="password", placeholder="***********", class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" )}}    
            </div>
            
            {{form.submit(type="submit", class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center")}}
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Not registered? <a href="/signup" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}